<h1 class="text-center text-5xl font-bold">Recommended movies</h1>
<div class="lg:col-span-3">
  <ul class="grid gap-4 sm:grid-cols-2 lg:grid-cols-4">
    <li *ngFor="let rec of recs; let i = index">
      <div class="card w-96 bg-base-100 shadow-xl">
        <figure class="px-10 pt-10">
          <img src="https://cdn.pixabay.com/photo/2017/11/24/10/43/ticket-2974645_960_720.jpg" alt="Shoes"
            class="rounded-xl" />
        </figure>
        <div class="card-body items-center text-center">
          <h2 class="card-title">{{rec.movieTitle}}</h2>
          <!-- <h2 class="card-title">{{findRating(rating.column)}}</h2> -->
          <!-- <div class="rating rating-half">
            <input type="radio" name="rating-{{i}}" class="rating-hidden" [checked]="rating.$ == 0.0" />
            <input type="radio" name="rating-{{i}}" class="mask mask-star-2 mask-half-1 bg-orange-400"
              [checked]="rec.$ == 0.5" />
            <input type="radio" name="rating-{{i}}" class="mask mask-star-2 mask-half-2 bg-orange-400"
              [checked]="rec.$ == 1.0" />
            <input type="radio" name="rating-{{i}}" class="mask mask-star-2 mask-half-1 bg-orange-400"
              [checked]="rating.$ == 1.5" />
            <input type="radio" name="rating-{{i}}" class="mask mask-star-2 mask-half-2 bg-orange-400"
              [checked]="rating.$ == 2.0" />
            <input type="radio" name="rating-{{i}}" class="mask mask-star-2 mask-half-1 bg-orange-400"
              [checked]="rating.$ == 2.5" />
            <input type="radio" name="rating-{{i}}" class="mask mask-star-2 mask-half-2 bg-orange-400"
              [checked]="rating.$ == 3.0" />
            <input type="radio" name="rating-{{i}}" class="mask mask-star-2 mask-half-1 bg-orange-400"
              [checked]="rating.$ == 3.5" />
            <input type="radio" name="rating-{{i}}" class="mask mask-star-2 mask-half-2 bg-orange-400"
              [checked]="rating.$ == 4.0" />
            <input type="radio" name="rating-{{i}}" class="mask mask-star-2 mask-half-1 bg-orange-400"
              [checked]="rating.$ == 4.5" />
            <input type="radio" name="rating-{{i}}" class="mask mask-star-2 mask-half-2 bg-orange-400"
              [checked]="rating.$ == 5.0" />
          </div> -->
          <div class="card-actions">
            <button class="btn btn-primary">Watch</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
