<h1 class="text-center text-5xl font-bold">Recommended movies</h1>
<div class="overflow-x-auto">
  <table class="table w-full">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr>
        <th>1</th>
        <td>Cy Ganderton</td>
      </tr>
      <!-- row 2 -->
      <tr class="active">
        <th>2</th>
        <td>Hart Hagerty</td>
      </tr>
      <!-- row 3 -->
      <tr>
        <th>3</th>
        <td>Brice Swyre</td>
      </tr>
    </tbody>
  </table>
</div>
